.card{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    width: 260px;
    height: 300px;
    margin: 18px;
  }
