.card{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    width: 320px;
    height: 320px;
    margin: 40px;
  }
